
# PlanAhead Generated physical constraints 

NET "A_G[0]" LOC = P41;
NET "A_G[1]" LOC = P40;
NET "A_G[2]" LOC = P35;
NET "A_G[3]" LOC = P34;
NET "A_G[4]" LOC = P32;
NET "A_G[5]" LOC = P29;
NET "A_G[6]" LOC = P27;
NET "Common[0]" LOC = P44;
NET "Common[1]" LOC = P43;
NET "Common[2]" LOC = P33;
NET "Common[3]" LOC = P30;
NET "DIP1[0]" LOC = P99;
NET "DIP1[1]" LOC = P100;
NET "DIP1[2]" LOC = P101;
NET "DIP1[3]" LOC = P102;
NET "DIP2[0]" LOC = P104;
NET "DIP2[1]" LOC = P105;
NET "DIP2[2]" LOC = P111;
NET "DIP2[3]" LOC = P112;
NET "SW1[0]" LOC = P66;
NET "SW1[1]" LOC = P62;
NET "SW1[2]" LOC = P61;
NET "SW1[3]" LOC = P59;
NET "SW2[0]" LOC = P58;
NET "SW2[1]" LOC = P57;
NET "SW2[2]" LOC = P56;
NET "SW2[3]" LOC = P55;
NET "Buzzer" LOC = P83;
NET "CLK_P123" LOC = P123;
NET "PB1_P45" LOC = P45;
NET "K1ForLast2DigK2ForFrist2Dig[0]" LOC = P23;
NET "K1ForLast2DigK2ForFrist2Dig[1]" LOC = P21;
NET "K1ForLast2DigK2ForFrist2Dig[2]" LOC = P16;
NET "K1ForLast2DigK2ForFrist2Dig[3]" LOC = P14;
NET "K1ForLast2DigK2ForFrist2Dig[4]" LOC = P11;
NET "K1ForLast2DigK2ForFrist2Dig[5]" LOC = P9;
NET "K1ForLast2DigK2ForFrist2Dig[6]" LOC = P7;
NET "K1ForLast2DigK2ForFrist2Dig[7]" LOC = P5;
NET "K1ForLast2DigK2ForFrist2Dig[8]" LOC = P24;
NET "K1ForLast2DigK2ForFrist2Dig[9]" LOC = P22;
NET "K1ForLast2DigK2ForFrist2Dig[10]" LOC = P17;
NET "K1ForLast2DigK2ForFrist2Dig[11]" LOC = P15;
NET "K1ForLast2DigK2ForFrist2Dig[12]" LOC = P12;
NET "K1ForLast2DigK2ForFrist2Dig[13]" LOC = P10;
NET "K1ForLast2DigK2ForFrist2Dig[14]" LOC = P8;
NET "K1ForLast2DigK2ForFrist2Dig[15]" LOC = P6;
